@font-face {
    font-family: "Orbitron Regular";
    src: url('./../fonts/Orbitron/static/Orbitron-Regular.ttf');
    font-weight: 400;
};

@font-face {
    font-family: "Exo2 Regular";
    src: url('./../fonts/Exo_2/static/Exo2-Regular.ttf');
    font-weight: 400;
};